@charset "euc-jp";
/* =======================================================
1. メインカラム
======================================================= */
#db_search_block{
	margin: 0px 0px 20px;
}

.anchor_position{
	float	:	right;
	background	:	url("../image/mark_arrow_blue_01.gif") no-repeat 0 center ;
	padding-left	:	15px;
	font-size	:	13px;
}

img.mark_arrow {
	display	:	inline;
}

/*--タイトルバー*/
#db_search_block h2{
	margin: -4px 0px 0px;
}

#db_search_form{
	padding:10px;
}
/*--各TOPの検索フォーム*/
#db_search_form form {
	position	:	relative;
	height	:	60px;
}
#db_search_form form input.field {
	position	:	absolute;
	width	:	396px;
	background	:	url("../image/form_search_bg_db.png") no-repeat 0 0;
	border	:	none;
	padding	:	6px 10px 8px;
	color	:	#444;
}
#db_search_form form input.form_side_btn {
	position	:	absolute;
	top	:	0;
	left	:	347px;
}
#db_search_form form .db_search_select{
	position:absolute;
	top:30px;
	left:0;
}
#db_search_form form .db_search_select ul li{
	display:inline;
	margin:0 0.6em 0 0;
	padding: 2px 2px 4px 0;
}
#db_search_form form .db_search_select ul li.arrow{
	padding: 2px 2px 4px 14px;
	background: url(../image/mark_arrow_blue_01.gif) no-repeat 0px 50%;
}
/*--詳細検索*/
#db_search_detail_form{
	padding:10px;
}
#db_search_detail_form form input.field {
	width	:	396px;
	background	:	url("../image/form_search_bg_db.png") no-repeat 0 0;
	border	:	none;
	padding	:	6px 10px 8px;
	color	:	#444;
}
#db_search_detail_form form input.field_2 {
	width	:	122px;
	background	:	url("../image/form_search_bg_01.png") no-repeat 0 0;
	border	:	none;
	padding	:	4px 10px 7px;
	color	:	#444;
}
#db_search_detail_form table.search_detail_table{
	width:100%;
	margin:0;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#db_search_detail_form table.search_detail_table th{
	width:5.6em;
	padding:8px;
	text-align: left;
	font-weight:bold;
	border-top: 1px solid #ccc;
	background: #ddd;
}
#db_search_detail_form table.search_detail_table td{
	border-color: #ccc #999;
	border-style: solid dotted;
	border-width: 1px;
	padding: 8px;
	text-align: left;
}
.search_detail_submit{
	width:440px;
	margin:20px auto 0 auto;
	text-align:center;
}
.search_detail_submit p{
	margin:10px 0 0 0;
	text-align:left;
}

/*--検索結果*/
.search_result_box{
	width:960px;
}

.search_result_box .pager{
	text-align:right;
	margin:10px 0;
}


/*--サブバー*/
.cate_bar{
	position	:	relative;
	background	:	url(../image/cate_h_bg_01.png) no-repeat 100% 0;
	text-align	:	left;
	height	:	40px;
}
.cate_bar h2{
	background	:	url(../image/cate_h_bg_left_01.png) no-repeat 0 0;
	font-size	:	128%;
	font-weight	:	bold;
	padding	:	0 0 0 24px;
	line-height	:	40px;
}
.cate_bar p.cate_bar_sub{
	position	:	absolute;
	bottom	:	4px;
	right	:	12px;
}
/*--細いサブバー*/
.cate_bar_s{
	position:relative;
	background: url(../image/cate_h_bg_01_s.png) no-repeat 100% 0%;
	text-align: left;
}
.cate_bar_s h2{
	background: url(../image/cate_h_bg_left_01_s.png) no-repeat 0px 0px;
	font-size: 116%;
	font-weight: bold;
	padding: 0 0 0 20px;
	line-height: 25px;
}
.cate_bar_s p.cate_bar_sub{
	position	:	absolute;
	top:2px;
	right:12px;
}
/*--ヒットチャートテーブル*/
#db_hitchart .hitchart_block{
	float:left;
	width:50%;
}
.db_table{
	width:100%;
	margin:10px 0 0 0;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.db_table th{
	border-top: 1px solid #ccc;
	text-align: center;
	background: #ddd;
}
.db_table td{
	border-color: #ccc #999;
	border-style: solid dotted;
	border-width: 1px;
	padding: 3px 6px;
	text-align: left;
}
p.detail_link{
	font-size: 110%;
	margin: 0 10px 0px;
	padding: 0px;
	text-align: right;
}
/*---------------------------------------
競走馬以外のプロフィール	.db_head_2
---------------------------------------*/
.db_head_2 {
	margin	:	0;
	background: url("../image/bg_db_head_name.gif") repeat-x 0 0;
}
.db_head_2 .db_head_name {
	position:relative;
	width:960px;
	margin:0 auto;
	color		:	#fff;
	padding	:	4px;
}
.db_head_2 h1 {
	float:left;
	height:30px;
	line-height:30px;
	font-size	:	20px;
	font-weight	:	bold;
	display	:	inline;
	padding	:	0 .5em 0 10px;
}
.db_head_2 h1.owner_name {
	float:none;
	padding	:	0 .5em 0 50px;
}
.db_head_2 .owner_wear{
	position:absolute;
	top:0;
	left:0;
}
.db_head_2 p.txt_01 {
	float:left;
	height:30px;
	line-height:30px;
	font-size	:	14px;
	padding	:	0;
	font-family	:	"ＭＳ Ｐゴシック", "Osaka";
}

.db_head_2 p.txt_01 a{
	color	:	#fff;
}

.db_head {
	margin	:	0;
	background: url("../image/bg_db_head_name.gif") repeat-x 0 0;
}
.db_head .db_head_name {
	position:relative;
	margin:0 auto;
	color		:	#fff;
	padding	:	4px;
}
.db_head h1 {
	float:left;
	height:30px;
	line-height:30px;
	font-size	:	20px;
	font-weight	:	bold;
	display	:	inline;
	padding	:	0 .5em 0 10px;
}
.db_head h1.owner_name {
	float:none !important;
	padding	:	0 .5em 0 50px !important;
}
.db_head .owner_wear{
	position:absolute;
	top:0;
	left:0;
}
.db_head p.txt_01 {
	float:left;
	height:30px;
	line-height:30px;
	font-size	:	14px;
	padding	:	0;
	font-family	:	"ＭＳ Ｐゴシック", "Osaka";
}

.db_head_2 p.txt_01 a{
	color	:	#fff;
}

ul.detail_link {
	width:960px;
	margin:0 auto 10px auto;
}
ul.detail_link li{
	float:left;
	margin:0 1.0em 0 0;
}
ul.detail_link li img{
	display:inline;
}
.r1ml{
	background-color: #ffef7f !important;
}
.r2ml{
	background-color: #cbdeff !important;
}
.r3ml{
	background-color: #efc79f !important;
}
.cml{
	border:none !important;
	background-color: #f7f7f7 !important;
}

.xml{
	background-color: #f0d0c0 !important;
}

/*--レース結果*/

/* =======================================================
1. レース情報
======================================================= */
body.db body.db {
	padding	:	0 0 6px;
}

body.db,
#main .race_head{
	position	:	relative;
}

#main .race_head{
	width	:	720px;
}

body.db #main .race_head{
	background	:	url("../image/bg_race_head720_b.png") no-repeat left bottom;
}

#main .race_head .race_head_inner{
	width	:	720px;
}

body.db #main .race_head .race_head_inner{
	background	:	url("../image/bg_race_head720_t.png") no-repeat left top;
}
body.db ul.race_place ,
#main .race_head ul.race_place {
position:relative;
height : 30px;
background : url("../image/bg_race_place.png") repeat-x left bottom;
margin : 0;
padding : 10px 12px 0;
}
body.db ul.race_place li,
#main .race_head ul.race_place li {
float : left;
margin : 0 6px 0 0;
font-size : 14px;
}
body.db ul.race_place li a,
#main .race_head ul.race_place li a {
display : block;
width : 104px;
line-height : 30px;
background : url("../image/race_kaisai_tab_01.png") no-repeat 0 0;
text-align : center;
}
body.db ul.race_place li a:hover,
#main .race_head ul.race_place li a:hover {
text-decoration : none;

}
body.db ul.race_place li a.active,
#main .race_head ul.race_place li a.active {
color : #fff;
background : url("../image/race_kaisai_tab_active_01.png") no-repeat 0 0;
text-decoration : none;
}
body.db ul.race_place li.result_link {
position:absolute;
float : none;
top:6px;
right:0;
font-size : 14px;
}
body.db ul.race_place li.result_link a{
display : block;
width:100% !important;
line-height : 30px;
background : none !important;
}
#main .race_head ul.race_place li.result_link a:hover{
	text-decoration	:	underline;
}


#main ul.icon_link_list {
	position	:	absolute;
	top	:	10px;
	right	:	3px;
}
#main ul.icon_link_list li {
	float	:	left;
	margin	:	0 14px 0 0;
}
#main ul.icon_link_list li img {
	display	:	inline;
	vertical-align	:	middle;
}

body.db .race_num,
#main .race_head .race_num {
	padding	:	8px 0 0;
}
body.db .race_num ul,
#main .race_head .race_num ul {
	float	:	left;
	margin	:	0 0 0 14px;
	display	:	inline;
}
body.db .race_num ul li,
#main .race_head .race_num ul li {
	display	:	inline;
	float	:	left;
	margin	:	0 4px 0 0;
}
body.db .race_num ul li a,
#main .race_head .race_num ul li a {
	display	:	block;
	width	:	40px;
	height	:	27px;
	line-height	:	26px;
	background	:	url("../image/race_num_tab_01.png") no-repeat 0 0;
	text-align	:	center;
}

body.db .race_num ul li a.active,
#main .race_head .race_num ul li a.active {
	background	:	url("../image/race_num_tab_active_01.png") no-repeat 0 0;
	color	:	#fff;
	text-decoration	:	none;
}

body.db .race_num p,
#main .race_head .race_num p {
	float	:	right;
	margin	:	2px 8px 0 0;
}
body.db .race_num p a,
#main .race_head .race_num p a {
	font-size	:	12px;
	display	:	block;
	background	:	url("../image/mark_arrow_blue_01.gif") no-repeat left center;
	padding	:	0 0 0 16px;
}
/*---------------------------------------
データベースの960px以上のテーブル
---------------------------------------*/
#contents_liquid{
	margin: 14px auto 20px auto;
	text-align:center;
	width:960px;
	position:relative;
}

/*
#contents_liquid table.nk_tb_common{
	margin:0 auto;
}
*/

#contents_liquid table.db_table_liquid{
	margin:0 10px
}
/*--小さいテーブル用*/
#contents_liquid .db_table_s{
	width:960px;
	margin:0 auto;
	text-align:left;
}

#contents_liquid .db_table_s .nk_tb_common{
	margin:0;
}

/* =======================================================
8. レース情報 結果 .race_result
======================================================= */
/*----- 基本馬柱 -----*/
table.race_table_01 {
	font-family: "ＭＳ Ｐゴシック", "Osaka";
	width	:	100%;
}

* html table.race_table_01 {
	border	:	none; /* ie6 */
}
*:first-child+html table.race_table_01 {
	border	:	none; /* ie7 */
}

.race_result table.race_table_01 {
	margin-bottom	:	15px;
}

table.race_table_01 th {
	font-size	:	13px;
	padding	:	3px;
	white-space	:	nowrap;
	text-align	:	center;
	color	:	#333;
	line-height	:	1.2;
}
table.race_table_01 th img {
	display	:	inline;
	margin	:	4px 0 0;
}
table.race_table_01 th.kako_h {
	white-space	:	normal;
}
table.race_table_01 th.kako_h_02 {
	width	:	110px;
}
table.race_table_01 th.th_01 {
	width	:	136px;
}
table.race_table_01 th.yoso_name_h,
table.data_table_01 th.yoso_name_h {
	width	:	1.2em;
	white-space	:	normal;
	text-align	:	center;
}
table.race_table_01 th.txt_l,
table.race_table_01 td.txt_l {
	text-align	:	left;
}
table.race_table_01 td {
	white-space	:	nowrap;
	font-size	:	13px;
	padding	:	2px;
	text-align	:	center;
	line-height	:	1.5;
	background	:	#fff;
}
table.race_table_01 td img {
	display	:	inline;
	vertical-align	:	middle;
}
table.race_table_01 th span.kyakushitu,
table.race_table_01 td span.kyakushitu {
	display	:	block;
	text-align	:	right;
}

table.race_table_01 td strong.weight {
	color	:	#c00;
}
table.race_table_01 td span.order {
	display	:	block;
	font-size	:	13px;
	font-weight	:	bold;
	border	:	1px solid #ccc;
	background	:	#eee;
	width	:	23px;
	text-align	:	center;
	float	:	left;
	line-height	:	1;
	margin	:	0 2px 0 0;
}
table.race_table_01 td span.race_name {
	font-size	:	13px;
	font-weight	:	bold;
}
table.race_table_01 th span.h_name {
	font-size	:	13px;
}
table.race_table_01 td span.h_name {
	font-size	:	13px;
	font-weight	:	bold;
}

/*----- 枠セル色 -----*/
table.race_table_01 td.w1ml span,
table.race_table_old td.w1ml span,
table.data_table_01 td.w1ml span {
	display	:	block;
	background	:	#fff;
	font-size	:	13px;
	text-align	:	center;
	font-weight	:	bold;
	border	:	1px solid #999;
	width	:	1.2em;
	text-align	:	center;
	line-height	:	1.4;
	margin	:	auto;
}
table.race_table_01 td.w2ml span,
table.race_table_old td.w2ml span,
table.data_table_01 td.w2ml span {
	display	:	block;
	background	:	#000;
	color	:	#fff;
	font-size	:	13px;
	text-align	:	center;
	font-weight	:	bold;
	border	:	2px solid #fff;
	width	:	1.2em;
	text-align	:	center;
	line-height	:	1.4;
	margin	:	auto;
}
table.race_table_01 td.w3ml span,
table.race_table_old td.w3ml span,
table.data_table_01 td.w3ml span {
	display	:	block;
	background	:	#f00;
	color	:	#fff;
	font-size	:	13px;
	text-align	:	center;
	font-weight	:	bold;
	border	:	2px solid #fff;
	width	:	1.2em;
	text-align	:	center;
	line-height	:	1.4;
	margin	:	auto;
}
table.race_table_01 td.w4ml span,
table.race_table_old td.w4ml span,
table.data_table_01 td.w4ml span {
	display	:	block;
	background	:	#00f;
	color	:	#fff;
	font-size	:	13px;
	text-align	:	center;
	font-weight	:	bold;
	border	:	2px solid #fff;
	width	:	1.2em;
	text-align	:	center;
	line-height	:	1.4;
	margin	:	auto;
}
table.race_table_01 td.w5ml span,
table.race_table_old td.w5ml span,
table.data_table_01 td.w5ml span {
	display	:	block;
	background	:	#ff0;
	font-size	:	13px;
	text-align	:	center;
	font-weight	:	bold;
	border	:	2px solid #fff;
	width	:	1.2em;
	text-align	:	center;
	line-height	:	1.4;
	margin	:	auto;
}
table.race_table_01 td.w6ml span,
table.race_table_old td.w6ml span,
table.data_table_01 td.w6ml span {
	display	:	block;
	background	:	#008000;
	color	:	#fff;
	font-size	:	13px;
	text-align	:	center;
	font-weight	:	bold;
	border	:	2px solid #fff;
	width	:	1.2em;
	text-align	:	center;
	line-height	:	1.4;
	margin	:	auto;
}
table.race_table_01 td.w7ml span,
table.race_table_old td.w7ml span,
table.data_table_01 td.w7ml span {
	display	:	block;
	background	:	#ffa500;
	font-size	:	13px;
	text-align	:	center;
	font-weight	:	bold;
	border	:	2px solid #fff;
	width	:	1.2em;
	text-align	:	center;
	line-height	:	1.4;
	margin	:	auto;
}
table.race_table_01 td.w8ml span,
table.race_table_old td.w8ml span,
table.data_table_01 td.w8ml span {
	display	:	block;
	background	:	#ffc0cb;
	font-size	:	13px;
	text-align	:	center;
	font-weight	:	bold;
	border	:	2px solid #fff;
	width	:	1.2em;
	text-align	:	center;
	line-height	:	1.4;
	margin	:	auto;
}
table.race_table_01 td.umaban,
table.race_table_old td.umaban {
	text-align	:	center;
	font-weight	:	bold;
	padding	:	2px;
}
table.race_table_01 td.odds_low {
	color	:	#c00;
	font-weight	:	bold;
}
/*----- 人気セル色 -----*/
table.race_table_01 td.odds_01 {
	background	:	#fffbe5;
	color	:	#c00;
	font-weight	:	bold;
}
table.race_table_01 td.odds_02 {
	background	:	#f5fbff;
	color	:	#c00;
	font-weight	:	bold;
}
table.race_table_01 td.odds_03 {
	background	:	#fff8f8;
	color	:	#c00;
	font-weight	:	bold;
}
/*----- タイム指数 -----*/
table.race_table_01 td.speed_index{
	font-size	:	13px;
	text-align	:	center;
	font-weight	:	bold;
	text-align	:	center;
	line-height	:	1.4;
	margin	:	auto;
}
table.race_table_01 td.index1{
	background	:	#fff !important;
}
table.race_table_01 td.index2{
	background	:	#fdf2c1 !important;
}
table.race_table_01 td.index3{
	background	:	#fce489 !important;
}
table.race_table_01 td.index4{
	background	:	#ffcc66 !important;
}
table.race_table_01 td.index5{
	background	:	#ffac84 !important;
}
table.race_table_01 td.index6{
	background	:	#fc855c !important;
}
/*----- 取り消し -----*/
table.race_table_01 tr.torikeshi td{
	background	:	#eee;
}
table.race_table_01  tr.torikeshi span.order {
	background	:	#ddd !important;
}
/*----- 乗り替わり -----*/
table.race_table_01 td.henkou a{
	color	:	#c00;
}
table.race_table_01 td.henkou img{
	margin	:	4px 0 0;
}

table.race_table_01 td.td_kyuyou {
	font-size	:	11px;
	padding-left	:	8px;
}

.db table.pay_table_01 th {
	color	:	#333;
	line-height	:	1.2;
	border	:	2px solid #fff;
}
.db table.pay_table_01 td {
	background	:	#fff;
}
.db table.pay_table_01 th,
.db table.pay_table_01 td {
	white-space	:	nowrap;
	padding	:	2px 10px;
	text-align	:	center;
}

.db table.pay_table_01 {
	float	:	left;
	margin	:	0 10px 0 0;
	border-collapse	:	separate;
	border-spacing	:	1px;
	background	:	#999;
}

* html .db table.pay_table_01 {
	border	:	none; /* ie6 */
}
*:first-child+html .db table.pay_table_01 {
	border	:	none; /* ie7 */
}

.db table.pay_table_01 td.txt_r {
	text-align	:	right;
}
.db table.pay_table_01 th.tan,
.db table.pay_table_01 th.utan {
	background	:	#e5e5ff;
}
.db table.pay_table_01 th.fuku,
.db table.pay_table_01 th.sanfuku {
	background	:	#ffdede;
}
.db table.pay_table_01 th.waku {
	background	:	#dffadf;
}
.db table.pay_table_01 th.uren {
	background	:	#ffe2fd;
}
.db table.pay_table_01 th.wide {
	background	:	#eff ;
}
.db table.pay_table_01 th.santan {
	background	:	#ffffdb;
}

.race_result table.result_table_02 th,
.race_result table.result_table_02 td {
	padding	:	4px 10px;
	text-align	:	left;
	line-height	:	1.2;
	border	:	1px solid #999;
}
.race_result table.result_table_02 th {
	background	:	#efefd9;
	white-space	:	nowrap;
}
.race_result table.result_table_03 th,
.race_result table.result_table_03 td {
	white-space	:	nowrap;
	padding	:	3px 10px;
	text-align	:	center;
	border	:	1px solid #999;
}
.race_result table.result_table_03 th {
	background	:	#efefd9;
}
.race_result dl {
	padding	:	0 0 14px;
}
.race_result dl.corner_order {
	width	:	350px;
	float	:	left;
}

.race_result dl dt h3 {
	font-size	:	116%;
	font-weight	:	bold;
}
.race_result dl.race_comment dd {
	border	:	1px solid #ccc;
	padding	:	10px 16px 16px;
}
/*----- レース情報タブメニュー -----*/
.race_deta_menu {
	position	:	relative;
	width:960px;
	margin:0 auto;
}
.race_deta_menu ul.main_menu {
	margin	:	0;
	height	:	30px;
	background	:	url("../image/bg_race_place.png") repeat-x left bottom;
}

ul.main_menu li{
	float	:	left;
	display	:	block;
}

ul.main_menu li a{
	display	:	block;
	line-height	:	30px;
	font-weight	:	bold;
}

ul.main_menu li.race_navi_shutuba{
	width	:	92px;
}

ul.main_menu li.race_navi_shutuba a{
	padding-left	:	32px;
	background	:	url("../image/race_tab_shutuba.png") no-repeat 0 0;
}

ul.main_menu li.race_navi_odds{
	width	:	156px;
}

ul.main_menu li.race_navi_odds a{
	padding-left	:	35px;
	background	:	url("../image/race_tab_odds.png") no-repeat 0 0;
}

ul.main_menu li.race_navi_data{
	width	:	114px;
}

ul.main_menu li.race_navi_data a{
	padding-left	:	32px;
	background	:	url("../image/race_tab_data.png") no-repeat 0 0;
}

ul.main_menu li.race_navi_yoso{
	width	:	80px;
}

ul.main_menu li.race_navi_yoso a{
	padding-left	:	32px;
	background	:	url("../image/race_tab_yoso.png") no-repeat 0 0;
}

ul.main_menu li.race_navi_chokyo{
	width	:	117px;
}

ul.main_menu li.race_navi_chokyo a{
	padding-left	:	32px;
	background	:	url("../image/race_tab_chokyo.png") no-repeat 0 0;
}

ul.main_menu li.race_navi_comment{
	width	:	125px;
}

ul.main_menu li.race_navi_comment a{
	padding-left	:	32px;
	background	:	url("../image/race_tab_comment.png") no-repeat 0 0;
}

ul.main_menu li.race_navi_result{
	width	:	145px;
}

ul.main_menu li.race_navi_result a{
	padding-left	:	38px;
	background	:	url("../image/race_tab_result.png") no-repeat 0 0;
}

ul.main_menu li.race_navi_bbs{
	width	:	103px;
}

ul.main_menu li.race_navi_bbs a{
	padding-left	:	38px;
	background	:	url("../image/race_tab_bbs.png") no-repeat 0 0;
}

ul.main_menu li a:hover{
	background-position	: 0 -30px;
}

ul.main_menu li a.active{
	background-position	: 0 -60px;
	color	:	#fff;
}

/*-- レース情報のタイトル周り  --*/
body.db .mainrace_data {
	position:relative;
}
body.db .mainrace_data {
	position:relative;
}

body.db .data_intro {
	float	:	left;
	margin	:	0 0 10px 15px;
	display	:	inline;
	padding	:	1px 0 0;
}

body.db .data_intro dl{
	width	:	450px;
	margin	:	10px 0;
}

body.db .data_intro dl dt{
	display	:	inline;
	float	:	left;
	width	:	44px;
	height	:	44px;
	line-height	:	44px;
	color	:	#fff;
	font-weight	:	bold;
	font-size	:	17px;
	text-align	:	center;
	background	:	url("../image/bg_data_intro_racenumber.png") no-repeat 0 0;
}

body.db .data_intro dl dd{
	margin-left	:	50px;
}

body.db .data_intro h1 {
	font-size: 180%;
	font-weight: bold;
	line-height: 1;
	margin: 0px 0px 0.1em;
}
body.db .data_intro h1 a {
	font-weight	:	bold;
}
body.db .data_intro h1 img {
	display	:	inline;
	vertical-align	:	middle;
}
body.db .data_intro p {
	line-height: 1;
	margin: 0px 0px 0.4em;
}

body.db .data_intro p.smalltxt {
	font-size	:	85%;
}
body.db .data_intro p img {
	display	:	inline;
	vertical-align	:	middle;
}
body.db .data_intro p.kaisai_data {
	font-weight	:	bold;
}
body.db .data_intro ul.btn_link_list {
	position	:	absolute;
	top	:	10px;
	right	:	15px;
	height	:	62px;
}
body.db .data_intro .data_odds {
	position	:	relative;
	float	:	right;
	margin	:	12px 12px 0;
	width	:	320px;
	height	:	118px;
	background	:	url("../image/race_odds_box_bg_01.png") no-repeat 0 0;
	color	:	#fff;
	font-size	:	13px;
}
body.db .data_intro .data_odds div {
	width	:	152px;
	float	:	left;
	margin	:	10px 0 0 12px;
	display	:	inline;
}
body.db .data_intro .data_odds dl {
	line-height	:	1.6;
}
body.db .data_intro .data_odds dl dt img {
	display	:	inline;
	vertical-align	:	top;
}
body.db .data_intro .data_odds dl dt span {
	color	:	#f90;
}
body.db .data_intro .data_odds a {
	color	:	#78dcff;
}
body.db .data_intro .data_odds dl dd span {
	font-size	:	10px;
}
body.db .data_intro .data_odds img.photo {
	float	:	right;
	margin	:	8px 8px 0 0;
	display	:	inline;
}
body.db .data_intro .data_odds p.detail_link {
	position	:	absolute;
	bottom	:	5px;
	right	:	156px;
	width	:	154px;
	text-align	:	right;
}
body#db_race_detail #side,
body#horse_detail #side{
	padding:0 !important;
}

/*----- レース結果表 -----*/
body#db_race_detail table.race_table_01,
body#horse_detail table.race_table_01 {
	width	:	auto;

}
body#db_race_detail table.race_table_01 td
body#horse_detail table.race_table_01 td {
	padding	:	2px;
}




/*--馬場指数〜レース短評*/
.result_info dl.baba_index{
	text-align:left;
}
.result_info dl.baba_index dt img{
	display:inline;
}
.result_info table.result_table_02{
	margin:0 0 20px 0;
}
.result_info table.result_table_02 th{
	width:8em;
}

.result_info table.race_comment th{
	width:auto !important;
}

.result_info table.result_table_02 th img{
	display:inline;
}
.result_info table.result_table_02 caption{
	font-size: 116%;
	font-weight: bold;
}
.result_info table.result_table_02 caption img{
	display:inline;
}

/*--馬場指数〜レース分析*/
.box_left{
	float:left;
	width:560px;
	text-align:left;
}
/*--短評*/
.box_right{
	float:right;
	width:380px;
	text-align:left;
}




/* =======================================================
 レースカレンダー
======================================================= */
#side .race_calendar {
	border	:	1px solid #aaa;
	margin-bottom	:	20px;
}

#side .race_calendar h2{
	margin	:	-3px 0 6px;
}
#side .race_calendar dl {
	width	:	200px;
	margin	:	auto;
}
#side .race_calendar dl dt {
	position	:	relative;
	padding	:	4px 0;
	font-size	:	12px;
	border-top	:	1px solid #ccc;
}
#side .race_calendar dl dt img{
	display	:	inline;
	vertical-align	:	middle;
}
#side .race_calendar dl dt ul {
	z-index	:	100;
}
#side .race_calendar dl dt ul li.rev,
#side .race_calendar dl dt ul li.rev img,
#side .race_calendar dl dt ul li.rev a {
	float	:	left;
	margin	:	0 2px 0 0;
}
#side .race_calendar dl dt ul li.next,
#side .race_calendar dl dt ul li.next img,
#side .race_calendar dl dt ul li.next a {
	float	:	right;
	margin	:	0 0 0 2px ;
}
#side .race_calendar dl dt a {
	display	:	block;
	height	:	26px;
	width	:	26px;
}
#side .race_calendar dl dt a:hover {
	background	:	#eee;
}
#side .race_calendar dl dt span {
	position	:	absolute;
	width	:	84px;
	left	:	58px;
	line-height	:	26px;
	text-align	:	center;
	display	:	inline;
}
#side .race_calendar dl dt span strong {
	font-size	:	15px;
	font-weight	:	normal;
}
#side .race_calendar dl dd table {
	border-collapse	:	separate;
	border-spacing	:	3px;
	width	:	100%;
	font-size	:	12px;
}
#side .race_calendar dl dd table th,
#side .race_calendar dl dd table td {
	text-align	:	center;
	background	:	#c8d1dc;
	padding	:	3px;
	border	:	1px solid #90a2b6;
	border-top	:	1px solid #e4e9ee;
	border-left	:	1px solid #e4e9ee;
}
#side .race_calendar dl dd table th.sat,
#side .race_calendar dl dd table td.sat {
	text-align	:	center;
	background	:	#c6e1e1;
	border	:	1px solid #80a8b4;
	border-top	:	1px solid #e4f1f1;
	border-left	:	1px solid #e4f1f1;
}
#side .race_calendar dl dd table th.sun,
#side .race_calendar dl dd table td.sun {
	text-align	:	center;
	background	:	#f3cfce;
	border	:	1px solid #afa3af;
	border-top	:	1px solid #fae8e8;
	border-left	:	1px solid #fae8e8;
}
#side .race_calendar dl dd table td.no_day {
	background	:	url("../image/race_calendar_no_day.png") no-repeat 0 0;
	border	:	none;
	border	:	1px solid #ccd5df;
	border-top	:	1px solid #f4f6f8;
	border-left	:	1px solid #f4f6f8;
}
#side .race_calendar dl dd table td.selected {
	background	:	#5795dc;
	color	:	#fff;
	border	:	1px solid #3367a2;
	border-top	:	1px solid #82b1e7;
	border-left	:	1px solid #82b1e7;
}

#side .race_calendar dl dd table th {
	padding	:	1px;
	font-size	:	12px;
}

#side .race_calendar dl dd table td a {
	display	:	block;
	width	:	100%;
	height	:	100%;
}
#side .race_calendar dl dd table td.selected a {
	color	:	#fff;
}

#side .race_calendar p.detail_link {
	margin	:	6px;
}

/*--DBのレース一覧*/
body.db .race_summary_info {
	position:relative;
	padding:10px 0;
}
body.db .race_summary_info h3{
	font-weight:bold;
}
body.db .race_summary_info ul.Prev_Next{
	position:absolute;
	bottom:0;
	right:0;
}
body.db .race_summary_info ul.Prev_Next li{
	display:inline;
	margin:0 .6em 0 0;
}
/*--DBのレース結果一覧*/
body.db .race_payback_info{
	margin-bottom:20px;
	padding:0 10px;
	border:1px solid #aaaaaa;
}
body.db .race_payback_info .data_intro {
	position:relative;
	float	:	none;
	margin	:	0 ;
	display	:	block;
}
body.db .race_payback_info .btn_link_list{
	position:absolute;
	bottom:0;
	right:0;
	margin:0 !important;
}
body.db .race_payback_info .btn_link_list li{
	float:right;
}
body.db .race_payback_info .btn_link_list li img,
body.db .race_payback_info .btn_link_list li a{
	display:inline;
}

body.db .race_payback_info .race_table_01{
	margin:0 0 10px 0;
}

body.db .race_payback_info .pay_block{
	margin:0 0 10px 0;
}

/*---- DBのレース一覧 -----*/
body.db .race_kaisai_info {
	position:relative;
	padding:10px 0;
}
body.db .race_kaisai_info h3{
	font-weight:bold;
}

body.db .race_kaisai_info .race_list {
	width	:	730px;
	_zoom	:	1;
	overflow	:	hidden;
	margin	:	0 -10px 0 0;
}


body.db .race_kaisai_info .race_list dl.race_top_hold_list {
	width	:	236px;
	background	:	#e6e6e6;
	float	:	left;
	padding	:	0 0 3px;
	margin	:	0 6px 0 0;
}
body.db .race_kaisai_info .race_list dl dt.race_top_hold_data {
	background	:	url("../image/race_top_hold_data.png") 0 0;
	padding	:	6px;
	margin	:	3px;
}
body.db .race_kaisai_info .race_list dl dt.race_top_hold_data p {
	font-weight	:	bold;
	font-size	:	14px;
}
body.db .race_kaisai_info .race_list dl dt.race_top_hold_data img{
	display	:	inline;
	vertical-align	:	middle;
}
body.db .race_kaisai_info .race_list dl dd ul {
	margin	:	3px 3px 0;
}
body.db .race_kaisai_info .race_list dl dd li {
	background	:	#fff;
	margin	:	3px 0 0;
	border	:	1px solid #ccc;
}
body.db .race_kaisai_info .race_list dl dd li.today_mainrace {
	background	:	#ffffd4;
}
body.db .race_kaisai_info .race_list dl.race_top_data_info {
	padding	:	7px 0 ;
}
body.db .race_kaisai_info .race_list dl.race_top_data_info dt {
	display	:	inline;
	float	:	left;
	margin	:	0 0 0 7px;
}
body.db .race_kaisai_info .race_list dl.race_top_data_info img{
	display	:	inline;
	vertical-align	:	middle;
}
body.db .race_kaisai_info .race_list dl.race_top_data_info dd {
	padding	:	0 0 0 50px;
	font-weight	:	bold;
}
body.db .race_kaisai_info .race_list dl.race_top_data_info dd div {
	text-align	:	right;
	margin	:	0 8px 0 0 ;
	font-size	:	13px;
	font-weight	:	normal;
}
body.db .race_kaisai_info .race_list dl.race_top_data_info dd div strong span{
	color	:	#f03;
}
#main p.race_data_attent {
	margin	:	.6em 0 2em;
}

/*---- 写真投稿 -----*/

.photo_up .form_area{
	width:100%;}

.photo_up ol{
	margin:0;
	padding:10px 0 10px 2em;
	background-color:#fff7d0;
	border:1px solid #dbdbdb;}

.photo_up ol li{
	list-style-type:decimal;}

.photo_up table.photo{
	margin:10px 0 0 0;
}
.photo_up table.photo th{
	text-align:center;
	font-weight:bold;
	padding:10px;
}
.photo_up table.photo td{
	padding:10px;
	background:#fff;
}
.up_btn{
	text-align:center;
	margin:10px auto;
}
/*---- 投稿後画面 -----*/
.photo_up p{
	margin:10px 0;
}
.photo_up dl{
	margin:10px 0;
	padding:0 0 10px 0;
	background:#ccc;
}
.photo_up dl dd{
	font-size:110%;
	font-weight:bold;
	padding:6px 10px 0 10px;
}

/*---- サイドカラム開催リンク .race_kaisai -----*/
body.db #side .race_kaisai {
	margin	:	0 0 16px;
	border	:	1px solid #aaa;
}
body.db #side .race_kaisai h2 {
	background	:	#eef3fd;
	padding	:	3px 3px 3px 10px;
	margin	:	0 0 6px;
	border-bottom	:	1px solid #aaa;
	font-size	:	15px;
}
body.db #side .race_kaisai dl {
	margin	:	0 6px 6px;
}
body.db #side .race_kaisai dl dt {
	float	:	left;
	border	:	1px solid #bbb;
	padding	:	1px 0;
	margin	:	0 12px 0 0;
	width	:	4em;
	text-align	:	center;
	background	:	#efefef;
}
body.db #side .race_kaisai dl dd {
	padding	:	1px 0;
}



/*---- レース映像 ----*/
/*===========================
　#ContentArea760
===========================*/
#ContentArea760{
	width : 760px;
	margin : 30px 0 40px;
	text-align:center;
}

#ContentArea760 *{
	margin : 0;
	padding : 0;
}

#ContentArea760 img{
	vertical-align : bottom;
}

/*===========================
　#MovieArea
===========================*/
#MovieArea{
	position : relative;
	width : 651px;
	height : 326px;
	margin : 0 auto;
	text-align : left;
	background : url(../image/bg_movie_select.gif) 0 0 no-repeat;
}

#MovieArea h2{
	position : absolute;
	top : 26px;
	left : 40px;
	width : 92px;
	height : 21px;
}

#MovieArea .photo{
	position : absolute;
	top : 14px;
	right : 25px;
}

#MovieArea dl{
	position:absolute;
	top : 80px;
	left : 40px;
	width : 395px;
	line-height : 1.2;
}

#MovieArea dl dt{
	font-weight : bold;
}

#MovieArea dl dd.racename{
	font-weight : bold;
	font-size:	18px;
}

#MovieArea dl dd.racename span{
	font-size:	28px;
}

#MovieArea #MovieSelect{
	padding-top:200px;
}

#MovieArea #MovieSelect p{
	font-weight : bold;
	text-align : center;
	margin-bottom : 10px;
}

#MovieArea #MovieSelect ul{
	margin-left : 83px;
}

#MovieArea #MovieSelect ul li{
	float : left;
	margin-left : 10px;
}


/*---------------------------------------
インフォページ	.db_info
---------------------------------------*/
.db_info {
	text-align	:	left;
}
.db_info .db_info_box {
	border	:	1px solid #aaa;
	padding	:	2px;
}
.db_info .box_head {
	background	:	url("../image/db_info_h_bg_01.png") repeat 0 0;
	margin	:	0 0 10px;
	padding	:	4px;
}
.db_info .box_head h1 {
	color	:	#fff;
	font-weight	:	bold;
	font-size	:	15px;
	margin	:	0 0 0 5px;
}
.db_info .box_head img {
	display	:	inline;
	vertical-align	:	middle;
	margin	:	0 3px 0 0;
	padding	:	0;
}

.db_info .db_info_box ul.db_info_pre_menu {
	margin	:	0 12px;
}
.db_info .db_info_box ul.db_info_pre_menu li {
	float	:	left;
	margin	:	0 10px 0 0;
	padding	:	0 10px 0 0;
	border-right	:	1px solid #888;
}
.db_info .db_info_box ul.db_info_pre_menu li a {
	font-weight	:	bold;
}

.db_info .db_info_box .cate_bar_s {
	margin	:	1.5em 8px 0;
}
.db_info p{
	margin	:	6px 12px 1em;
	line-height	:	1.4;
}
/*---------------------------------------
表装飾
---------------------------------------*/

/* === 段違いに交互に色つけ === */
table.race_table_01 tr.even td {
	background	:	#f3f3f3;
}
/* === マウスが乗った際の変化色 = */
table.race_table_01 tr.hover td{
	background	:	#fdf2c1;
}

/*---------------------------------------
日記を書くボタン .diary_snap_write_box
---------------------------------------*/
.diary_snap_write_box {
	text-align	:	left;
	font-size	:	.86em;
}
.diary_snap_write_box p {
	margin	:	0 0 4px;
}
/* =======================================================
0. スマホ案内導線 .cate_bar .sp_info_box_01
======================================================= */
.db_search_sp_info {
	margin	:	0 0 16px;
}
.db_search_sp_info .sp_info_box_01 {
	border	:	1px solid #fc0;
	background	:	#faf8eb;
	margin	:	6px;
	padding	:	4px 6px 4px 10px;
}
.sp_info_box_01 p {
	display	:	inline;
	margin	:	4px;
}
.sp_info_box_01 p span {
	font-weight	:	bold;
	color	:	#c00;
}
.sp_info_box_01 a {

}

.sp_info_box_01 img {
	display	:	inline;
	vertical-align	:	middle;
}
/* =======================================================
0. 掲示板改修 2012.03.29 takimoto
======================================================= */
.user_report_list_box ul.user_report_list {
	margin	:	0 14px;
}
ul.user_report_list li.border_bottom {
	border-bottom	:	1px solid #567f00;
	padding	:	0 6px .5em;
}
.user_comment_area_01 .user_data_area_01 {
	line-height	:	36px;
	margin	:	0 0 4px;
}
.user_comment_area_01 .user_data_area_01 img.abt_img {
	display	:	inline;
	vertical-align	:	middle;
	margin	:	0 8px 0 0;
}
.user_comment_area_01 .user_data_area_01 .respect {
	display	:	inline;
}
.comment_txt_area_01 p.comment {
	font-size	:	116%;
	word-break: break-word;
}
.comment_txt_area_01 p.txt_r {
	margin	:	0 0 6px;
}
.comment_txt_area_01 p span.time_data_01 {
	line-height	:	1.2;
	color	:	#777;
	font-size	:	84%;
	background	:	url("../image/prof/prof_icon_time_01.png") no-repeat left center;
	padding	:	3px 0 3px 16px;
}
.user_report_list_box ul.comment_edit_area_01 {
	float	:	left;
	width	:	100%;
}
.user_report_list_box ul.comment_edit_area_01 li {
	float	:	left;
	margin	:	0 12px 0 2px;
}
.user_report_list_box ul.comment_edit_area_01 li:first-child {
	margin	:	0 2px 0 2px;
}
.user_report_list_box ul.comment_edit_area_01 li:last-child {
	float	:	right;
	margin: 0 2px 0 2px;
}
.user_report_list_box ul.comment_edit_area_01 li.nice_count_box_01 {
	background	:	url("../image/nice_count_box.png") no-repeat right center;
	padding	:	0 7px 0 0;
	margin-left	:	2px;
}
.user_report_list_box ul.comment_edit_area_01 li.nice_count_box_01 span {
	background	:	url("../image/nice_count_box_left.png") no-repeat left center;
	display	:	inline-block;
	line-height	:	21px;
	padding	:	0 0 0 16px;
}
/* === 非表示コメント === */
p.bad_comment_info_01 em {
	font-style	:	italic;
}
.user_report_list_box + .Inner_Txt_No_Result {
	margin: 0 14px;
}

/* === ギア === */
.gear_area_01 {
	position: relative;
	margin: 0;
	padding: 0;
	width: 31px;
	height: 21px;
}
.gear_area_01 .gear_box_01 {
	display	:	none;
	position	:	absolute;
	top	:	26px;
	right	:	0;
	padding	:	6px;
	background	:	#444;
	z-index	:	9999;
	width	:	120px;
}
.gear_area_01 .gear_box_01 ul {
	padding: 0;
	margin: 0 auto;
	list-style-type: none;
	float: left;
	position: relative;
	left: 50%;
}
.gear_area_01 .gear_box_01 ul li {
	float: left;
	position: relative;
	right: 50%;
}
.gear_area_01 .gear_box_01 ul li a {
	background	:	#fff !important;
}

/* ogino */
#suggest {
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #CCCCFF;
    font-size: 90%;
    width: 200px;
}
#suggest div {
    display: block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
}
#suggest div.select{ /* キー上下で選択した場合のスタイル */
    color: #FFFFFF;
    background-color: #3366FF;
}
#suggest div.over{ /* マウスオーバ時のスタイル */
    background-color: #99CCFF;
}



/*======================================
BBS
======================================*/
.db .db_prof_box .Res_Form{
	margin:0 14px 10px;
	border-bottom: 1px solid #567F00;
	padding: 0 6px 0.5em;
}
.db .db_prof_box .Res_Form textarea{
	width: 94%;
	margin:0 auto 6px;
	padding:4px;
}

.db .db_prof_box .Res_Form div{
	position:relative
}
.db .db_prof_box .Comment_Form_btnWrap div.Comment_Form_01_btn button,
.db .db_prof_box .Comment_Form_01_wrap button{
	cursor:pointer;
	display: block;
	font-weight:bold;
	margin:0 auto;
	width:80%;
	font-size:100%;
	padding: 6px 100px;
	border: 1px solid #d7d8d9;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.4);
	background-clip: padding-box;
	background-color:#DDD;
	background-image: -moz-linear-gradient(center top,#fff 0,#DDDDDD 100%);
	background-image: -o-linear-gradient(top,#fff 0,#DDDDDD 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1.0,#DDDDDD));
	background: -ms-linear-gradient(top, #ffffff 0%, #dddddd 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #dddddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0);
}
.db .db_prof_box .Comment_Form_01_wrap button .icon_pen{
	display: inline;
}
.db .db_prof_box .user_comment_area_01 .nickname{
	padding-right:10px;
}
/*.db .db_prof_box .user_comment_area_01 .follow_btn{
	border:solid 1px #b6b6b6;
	padding:2px 5px;
	background:#f6f6f6;
}*/
.db_prof_box .user_comment_area_01 .follow_btn .Btn{
	font-weight:bold;
}
.db_prof_box .user_comment_area_01 .follow_btn a .Btn{
	text-decoration:underline;
}
.db .db_prof_box .user_comment_area_01 .follow_btn .Icon_Follow{
	padding:2px 0 2px 20px;
	background:url("../image/ico_follow.png") no-repeat 0 -1px;
}


.photo_up .form_area{
	width:100%;}

.photo_up ol{
	margin:0;
	padding:10px 0 10px 2em;
	background-color:#fff7d0;
	border:1px solid #dbdbdb;}
 
.photo_up ol li{
 	list-style-type:decimal;}
 
/*======================================
BBS
======================================*/
.db .db_prof_box .Res_Form{
	margin:0 14px 10px;
	border-bottom: 1px solid #567F00;
	padding: 0 6px 0.5em;
}
.db .db_prof_box .Res_Form textarea{
	width: 94%;
	margin:0 auto 6px;
	padding:4px;
}

.db .db_prof_box .Res_Form div{
	position:relative
}
.db .db_prof_box .Comment_Form_btnWrap div.Comment_Form_01_btn button,
.db .db_prof_box .Comment_Form_01_wrap button{
	cursor:pointer;
	display: block;
	font-weight:bold;
	margin:0 auto;
	width:80%;
	font-size:100%;
	padding: 6px 100px;
	border: 1px solid #d7d8d9;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.4);
	background-clip: padding-box;
	background-color:#DDD;
	background-image: -moz-linear-gradient(center top,#fff 0,#DDDDDD 100%);
	background-image: -o-linear-gradient(top,#fff 0,#DDDDDD 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1.0,#DDDDDD));
	background: -ms-linear-gradient(top, #ffffff 0%, #dddddd 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #dddddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0);
}
.db .db_prof_box .Comment_Form_01_wrap button .icon_pen{
	display: inline;
}
.db .db_prof_box .user_comment_area_01 .nickname{
	padding-right:10px;
}
/*.db .db_prof_box .user_comment_area_01 .follow_btn{
	border:solid 1px #b6b6b6;
	padding:2px 5px;
	background:#f6f6f6;
}*/
.db_prof_box .user_comment_area_01 .follow_btn .Btn{
	font-weight:bold;
}
.db_prof_box .user_comment_area_01 .follow_btn a .Btn{
	text-decoration:underline;
}
.db .db_prof_box .user_comment_area_01 .follow_btn .Icon_Follow{
	padding:2px 0 2px 20px;
	background:url("../image/ico_follow.png") no-repeat 0 -1px;
}

