<!--
/* 共通 */



.liquid { width: 960px;margin:auto;text-align:left; }



.field  {  }
.check  {  }
.radio  {  }
.button {  }

.org-field   { border: 1 solid #000000; font-size: 12px; background: #ffffff; color: #000000; height: 18px; }
.org-button  { border: 1 solid #000000; font-size: 10px; font-weight: bold; background: #003399; color: #ffffff; height: 18px; }
.org-button2 { border: 1 solid #000000; font-size: 10px; font-weight: bold; background: #ffffff; color: #003399; height: 18px; }

.com-border { background-color: #006600; }
.com-header { color: #006600; background-color: #66cc99; }
.com-body   { background-color: #ffffff; }
.pro-body   { font-size: 11px; color: #000000; }
.mbl-body   { color: #000000; }
.mbl-msg    { color: #ff3030; font-weight: bold; }

/* 通常 */
.s      { font-size: 10px; line-height: 13px; }
.m      { font-size: 13px; line-height: 17px; }
.l      { font-size: 16px; font-weight: bold; line-height: 20px; }
.sl     { font-size: 10px; line-height: 13px; }
.ml     { font-size: 13px; line-height: 17px; }
.a      { font-size: 11px; line-height: 14px; }
.line01 { border-color: #3333ff black black; height: auto; width: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; border: thin #999999 dotted; font-size: 13px; line-height: 17pt; background-color: #f1ffe8; }
.black  { color: #000000; }
.red    { color: #ff0000; }
.pink   { color: #d84040; }

/* テーブルヘッダ部 */
.hml    { font-size: 13px; line-height: 17px; color: #006600; background-color: #66cc99; }
.hml2   { font-size: 12px; line-height: 11px; color: #006600; background-color: #66cc99; }
.hml3   { font-size: 13px; line-height: 17px; color: #000000; font-weight: bold; background-color: #cccccc; }

/* テーブルボディ部 */
.bml    { font-size: 13px; line-height: 17px; background-color: #ffffff; }
.cml    { font-size: 13px; line-height: 17px; background-color: #d0eeff; }
.ba     { font-size: 11px; line-height: 14px; background-color: #ffffff; }
.db_main_deta table.db_h_race_results td.bml    { font-size: 12px;}

/* テーブルボディ部(抹消) */
.xml    { font-size: 13px; line-height: 17px; background-color: #f0d0c0; }
.xa     { font-size: 11px; line-height: 14px; background-color: #f0d0c0; }

/* テーブルタイトル部 */
.tml    { font-size: 13px; line-height: 17px; color: #ffffff; font-weight: bold; }
.uml    { font-size: 13px; line-height: 17px; background-color: #ccdfff; }
.pog_r  { font-size: 13px; text-align: right; margin-right: 10px; }

/* テーブル血統部 */
.sml    { font-size: 13px; line-height: 17px; background-color: #d0efff; }
.mml    { font-size: 13px; line-height: 17px; background-color: #ffe0e0; }

/* ベスト３ */
.r1ml    { font-size: 13px; line-height: 17px; background-color: #fff080; }
.r2ml    { font-size: 13px; line-height: 17px; background-color: #ccdfff; }
.r3ml    { font-size: 13px; line-height: 17px; background-color: #f0c8a0; }

/* カレンダー */
.cborder{ background-color: #cccccc; }
.chml   { font-size: 13px; line-height: 17px; background-color: #ccffcc; }
.cdml   { font-size: 13px; line-height: 17px; background-color: #ccccff; }
.cnml   { font-size: 13px; line-height: 17px; background-color: #ffcccc; }
.ccml   { font-size: 13px; line-height: 17px; background-color: #ffeaaa; }

/* 枠 */
.w0ml   { font-size: 13px; line-height: 17px; background-color: #ffffff; }
.w1ml   { font-size: 13px; line-height: 17px; background-color: #ffffff; }
.w2ml   { font-size: 13px; line-height: 17px; background-color: #b0b0b0; }
.w3ml   { font-size: 13px; line-height: 17px; background-color: #ffb0b0; }
.w4ml   { font-size: 13px; line-height: 17px; background-color: #b0b0ff; }
.w5ml   { font-size: 13px; line-height: 17px; background-color: #ffffb0; }
.w6ml   { font-size: 13px; line-height: 17px; background-color: #b0ffb0; }
.w7ml   { font-size: 13px; line-height: 17px; background-color: #ffccb0; }
.w8ml   { font-size: 13px; line-height: 17px; background-color: #ffb0ff; }

/* 払戻 */
.tan     { font-size: 13px; line-height: 17px; background-color: #9999ff; }
.fuku    { font-size: 13px; line-height: 17px; background-color: #ff9999; }
.waku    { font-size: 13px; line-height: 17px; background-color: #99ff99; }
.uren    { font-size: 13px; line-height: 17px; background-color: #ff99ff; }
.wide    { font-size: 13px; line-height: 17px; background-color: #99ffff; }
.utan    { font-size: 13px; line-height: 17px; background-color: #9999ff; }
.sanfuku { font-size: 13px; line-height: 17px; background-color: #ff9999; }
.santan  { font-size: 13px; line-height: 17px; background-color: #ffff99; }
.tanl    { font-size: 13px; line-height: 17px; background-color: #ddddff; }
.fukul   { font-size: 13px; line-height: 17px; background-color: #ffdddd; }
.wakul   { font-size: 13px; line-height: 17px; background-color: #ddffdd; }
.urenl   { font-size: 13px; line-height: 17px; background-color: #ffddff; }
.widel   { font-size: 13px; line-height: 17px; background-color: #ddffff; }
.utanl   { font-size: 13px; line-height: 17px; background-color: #ddddff; }
.sanfukul{ font-size: 13px; line-height: 17px; background-color: #ffdddd; }
.santanl { font-size: 13px; line-height: 17px; background-color: #ffffdd; }

/* 指数 */
.index1 { line-height: 17px; background-color: #ffffff; }
.index2 { line-height: 17px; background-color: #fdf2c1; }
.index3 { line-height: 17px; background-color: #fce489; }
.index4 { line-height: 17px; background-color: #ffcc66; }
.index5 { line-height: 17px; background-color: #ffac84; }
.index6 { line-height: 17px; background-color: #fc855c; }

/* マーク */
.mark   { color: #cc0; }

/* サブタイトル */
.sub    { color: #096; }

/* 詳細関連 */
.dml    { line-height: 17px; font-weight: bold; }
.dmark  { color: #0099ff; }

/* テーブルボーダー色 */
.border { background-color: #006600;
	border-collapse	:	separate;
	border-spacing	:	1px; }
.border td {
	padding	:	2px;
}
.photo  { border-color: #006600; }
.bml1    { background-color: #ffffff; }
.bml2    { background-color: #d0eeff; }
.bml3    { background-color: #ffffcc; }
.bml4    { background-color: #e5eefd; }
.bml5    { border-bottom-style: dotted; border-bottom-color: #999999; border-width: 1px; padding: 3px; }

/* ライン関連 */
.hl  { background-color: #0033cc; }
.fl  { background-color: #0033cc; }
.dl1 { background-color: #66cc99; }
.dl2 { background-color: #ccdfff; }
-->

table.racenavi_central td a{
    display				: block;
    height				: 25px;
    background			: url("../image/racedata_01/race_navi_1.gif") 0 0 #fff;
    line-height			: 25px;
}
table.racenavi_central_premium td a{
    display				: block;
    height				: 25px;
    background			: url("../image/racedata_01/race_navi_premium.gif") 0 0 #ffc;
    line-height			: 25px;
}

table.racenavi_central td a:hover{
    color				: #fff;
    height				: 25px;
    background			:  url("../image/racedata_01/race_navi_1.gif") 0 0 #2235bb;
}
table.racenavi_central_premium td a:hover{
    color				: #fff;
    height				: 25px;
    background			:  url("../image/racedata_01/race_navi_premium.gif") 0 0 #2235bb;
}

table.racenavi_central td.active a{
    display				: block;
    color				: #fff;
	font-weight			: bold;
    height				: 25px;
    background			: url("../image/racedata_01/race_navi_1.gif") 0 0 #2235bb;
}


table.racenavi_central_premium td.active a{
    display				: block;
    color				: #fff;
	font-weight			: bold;
    height				: 25px;
    background			: url("../image/racedata_01/race_navi_premium.gif") 0 0 #2235bb;
}

table.racenavi_central td.premium a{
    display				: block;
    height				: 25px;
    background			: url("../image/racedata_01/race_navi_premium.gif") 0 0 #fff;
    line-height			: 25px;
}

table.racenavi_central td.premium a:hover{
    color				: #fff;
    height				: 25px;
    background			: url("../image/racedata_01/race_navi_premium.gif") 0 0 #2235bb;
    line-height			: 25px;
}

table.racenavi_central td.new a{
    display				: block;
    height				: 25px;
    background			: url("../image/racedata_01/race_navi_new.gif") 0 0 #fff;
    line-height			: 25px;
}

table.racenavi_central td.new a:hover{
    color				: #fff;
    height				: 25px;
    background			: url("../image/racedata_01/race_navi_new.gif") 0 0 #2235bb;
    line-height			: 25px;
}

table.racenavi_central td.new_active a {
    color				: #fff;
    height				: 25px;
    background			: url("../image/racedata_01/race_navi_new.gif") 0 0 #2235bb;
    line-height			: 25px;
}

table.racenavi_central td.member a{
    display				: block;
    height				: 25px;
    background			: url("../image/racedata_01/race_navi_kaiin01.gif") 0 0 #fff;
    line-height			: 25px;
}

table.racenavi_central td.member a:hover{
    color				: #fff;
    height				: 25px;
    background			: url("../image/racedata_01/race_navi_kaiin01.gif") 0 0 #2235bb;
    line-height			: 25px;
}

table.racenavi_central td.member_active a{
    display				: block;
    color				: #fff;
	font-weight			: bold;
    height				: 25px;
    background			: url("../image/racedata_01/race_navi_kaiin01.gif") 0 0 #2235bb;
}

table.racenavi_central td.member_active a:hover{
    color				: #fff;
    height				: 25px;
    background			: url("../image/racedata_01/race_navi_kaiin01.gif") 0 0 #2235bb;
    line-height			: 25px;
}
